@tailwind base;
@tailwind components;
@tailwind utilities;

li{
  list-style: none;
  background-color: 4262FF;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
